@import 'tailwindcss';

/* First website inspired - minimal, classic styling */

@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    font-family: Times, 'Times New Roman', serif;
    font-size: 16px;
    line-height: 1.4;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 8px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Times, 'Times New Roman', serif;
    font-weight: bold;
    margin: 0.5em 0;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.3em;
  }

  h3 {
    font-size: 1.1em;
  }

  p {
    margin: 0.5em 0;
  }

  a {
    color: #0000ee;
    text-decoration: underline;
  }

  a:hover {
    color: #0000ee;
  }

  a:active {
    color: #ff0000;
  }

  ul,
  ol {
    margin: 0.5em 0;
    padding-left: 2em;
  }

  li {
    margin: 0.3em 0;
  }

  hr {
    border: none;
    border-top: 1px solid #000000;
    margin: 1em 0;
  }

  /* Remove Tailwind button/link resets that interfere */
  button {
    font-family: Times, 'Times New Roman', serif;
    background: none;
    border: none;
    cursor: pointer;
    font-size: inherit;
    color: #0000ee;
    text-decoration: underline;
    padding: 0;
  }

  button:hover {
    color: #0000ee;
  }
}
